*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Cabin';
}
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height:70vh;
    width: 100vw;
}
.uppersideheader{
    position:fixed;
    background-image: url(img/jumbo.png);
    background-size: cover;
    width: 100vw;
}
.secondpartheader{
    padding-top:20vh;
}

img{
    width:100%;
}
h1{
    font-size:50px;
    margin-bottom: 50px;
}
p{
    margin-bottom:30px;
    line-height: 2rem;
}
#logo{
    width:100px;
}

.bottone{
    background-color: white;
    border-radius: 15px;
    text-align:center;
    padding:8px;
    font-size:13px;
    color:black;
}
.apri{
    background-color: black;
    border-radius: 15px;
    text-align:center;
    padding:7px;
    color:white;
    margin-left:20px;
}
.uppersideheader{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}

.secondpartheader{
    width:36%;
    margin:0 auto;
    text-align: center;
    color:white;
    line-height:1.5rem;
    
}
.container{
    padding:.5rem 1rem;
}
.logo, 
.login{
    width: 20%;
}
.login{
    text-align: right;
}
.link{
    width:40%;
}
.lista{
    display:flex;
    flex-direction:row;
    list-style-type:none;
    justify-content: center;
}
li{
    margin-right:1rem;
}
.sezionedue,
.sezionetre,
.sezionequattro,
.sezionesei{
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.sezionetre{
    background-color: white;
}
.sezionecinque{
    height: 150vh;
    width: 100vw;
    background-color:#F6F6F6;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.sezionetre{
    background-color:#F6F6F6;
}
.wavereverse{
    transform:rotate(180deg);
}
.wavy,
.wavereverse{
    width:100vw;
    height: 80px;
    background-image: url(img/wave.svg);
    background-repeat: no-repeat;
    filter:opacity(0.17)
}

.sezionetre,
.sezionecinque{
    background-color:#D3D3D3;
}
.sezionecinque{
    text-align:center;
}
.sezionesei{
    background-color: #23272A;
    border-bottom:3px solid grey;
    padding-bottom:15px;
}

.azzurro{
    width:45%;
    
}
.rosa{
    width:22%;
    
}

.verde{
    width:60%;
    
}
.flex{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:10px;
}

.acqua{
    width:13%;
    height:450px;
    color:white;
    line-height: 2rem;
}
.rosascuro{
    width:28%;
    height:450px;
    
}

footer{
    background-color: #23272A;
    height: 80px;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.containerfooter{
    width:5%;
    justify-content: center;

}
.containerpadrefooter{
    width:80%;
    height: 50%;
    padding-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:6px 0px;
}
.registrati{
    background-color:#6775dcf3;
}

.scaricapermac{
    background-color:#6775dcf3;
    font-size:20px;
    text-align:center;
    justify-content:center;
    padding:20px;
    color:white;
    border-radius: 35px;
}
#paragrafoparticolare{
    margin:10px;
}

.testo{
    color:white;
    line-height:2.3rem;
}
.ita{
    width:20px;
    margin-right:5px;
}
.titoli{
    color:#6775dcf3;
    margin-bottom:30px;
    font-size:40px;
    width:300px;
}
.icone{
    display:flex;
    flex-direction: row;
    justify-content: start;
}
.icona{
    width:50px;
}
ul{
    list-style-type:none;
}
.colore{
    color: #6775dcf3;
}

#stars{
    background-image:url(img/stars.svg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:3rem;
}