*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Cabin', sans-serif;

}
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height:70vh;
    width: 100vw;
}
p{
    margin-bottom:30px;
    line-height: 2rem;
}
#logo{
    width:100px;
}
#entity{
    color:black;
}
.bottone{
    background-color: white;
    border-radius: 15px;
    text-align:center;
    padding:7px;
    font-size:13px;
    color:black;
}
.apri{
    background-color: black;
    border-radius: 15px;
    text-align:center;
    padding:7px;
    color:white;
    margin-left:20px;
}
.uppersideheader{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}

.secondpartheader{
    width:36%;
    margin:0 auto;
    text-align: center;
    color:white;
    line-height:1.5rem;
    
}
.container{
    padding:.5rem 1rem;
}
.logo, 
.login{
    width: 20%;
}
.login{
    text-align: right;
}
.link{
    width:40%;
}
ul{
    display:flex;
    flex-direction:row;
    list-style-type:none;
    justify-content: center;
}
li{
    margin-right:1rem;
}

h1{
    font-size:50px;
    margin-bottom: 50px;
}

.sezionedue,
.sezionetre,
.sezionequattro,
.sezionesei{
    background-color: #FFFFFF;
    height: 80vh;
    width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.sezionecinque{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.sezionetre{
    background-color:#F6F6F6;
}
.sezionetre,
.sezionecinque{
    background-color:#D3D3D3;
}
.sezionesei{
    background-color: #23272A;
    border-bottom:3px solid grey;
}

.azzurro{
    width:45%;
    height:500px;
}
.rosa{
    width:22%;
    height:500px;
}

.verde{
    width:80%;
    height:550px;
    background-color: #228B22;
    border:3px dashed black;
}

.acqua{
    width:13%;
    height:450px;
    background-color:#20B2AA;
    border:3px dashed white;
}
.rosascuro{
    width:28%;
    height:450px;
    background-color:#F08080;
    border:3px dashed black;
}

footer{
    background-color: #23272A;
    height: 80px;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.containerfooter{
    border: 3px dashed black;
    width:5%;
    background-color: #FFB6C1;
    justify-content: center;

}
.containerpadrefooter{
    background-color: #7FFFD4;
    width:80%;
    height: 50%;
    padding-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:6px 0px;
}